body {
  font-family: 'Montserrat', sans-serif;
  background: #010440;
  color: #F2E74B;
  flex-wrap: wrap;
}

h1 {
  font-size: 23px;
  font-weight: bold;
}

/* Configurações do grid */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: h;
  padding: 20px;
}

main {
  grid-area: m;
  line-height: 1.6;
  padding: 15px;
}

aside {
  grid-area: a;
  line-height: 1.6;
  padding: 15px;
}

footer {
  grid-area: f;
}

.convite {
  grid-area: c;
}

/* Configuraçãoes do header */

.menu .menu-item {
  display: inline-block;
  padding-left: 5px;
}

header a{
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  color: rgb(242, 231, 75,0.70);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: rgb(242, 231, 75,1);
}

header h1{
  letter-spacing: 5px;
  padding: 15px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: black 5px 5px;
}

.container-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 60vh 20vh 10vh;
  grid-template-areas: "h h" "m a" "c c" "f f";

}

/* Configurações do footer */

.logo-social {
  width: 25px;
  height: 25px;
}

.social-links li {
  display: inline-block;
  margin: 5px 5px 0px 5px;
}

.copy {
  padding: 5px;
}

.icones-footer {
  text-align: center;
}

/* configuração main */


.quem-sou-eu {
  height: 40%;
  width: 100%;  
}