body {
  font-family: 'Montserrat', sans-serif;
  background: #010440;
  color: #ffffff;
  flex-wrap: nowrap;
  line-height: 1.6;
  
}

/* Configuração do cabeçalho */


.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
}

.nav-ul h1 {
  font-size: 23px;
  border: 2px solid #040DBF;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px black;
  letter-spacing: 5px;
}

.hamburger {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger div {
  width: 35px;
  height: 5px;
  background: #fff;
  margin: 6px 0;
  border-radius: 40px;
}

.menu-item {
  display: inline-block;
  margin: 0 10px 0 0;
}

.menu-item a {
  text-decoration: none;
  color: rgb(255, 255, 255, 1);
  padding: 15px;
  transition: all 0.3s ease 0s;
}

.menu-item a:hover {
  color:rgb(255, 255, 255, 0.65);
  text-decoration: underline;
}


/* Configuração do main pagina index */

.principal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.principal div, p, h1 {
  margin: 15px
}

.principal h1 {
  font-size: 20px;
  font-weight: bold;
}

.certificado, .rodape-foto {
  text-align: center;
}

/* Configuração do Footer */

.social-links {
  display: flex;
  justify-content: center;
}

.logo-social {
  width: 25px;
  height: 25px;
  margin: 15px 5px 15px 5px;
}

.copy {
  text-align: center;
  font-size: 12px;
}

/* Configuração do script que faz o hamburguer menu */

@media screen and (max-width: 600px) {

  .menu {
    display: none;
  }

  .menu-item {
    margin: 5px 0 0 0;
    padding: 2px;
    text-align: end;
  }

  .menu.show {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .certificado img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  }
